# Copyright (c) 2024 Robert Bosch GmbH
# SPDX-License-Identifier: AGPL-3.0

# This source code is derived from FCGF (0612340)
#   (https://github.com/chrischoy/FCGF/tree/0612340ead256adb5449da8088f506e947e44b4c)
# Copyright (c) 2019 Chris Choy (chrischoy@ai.stanford.edu), Jaesik Park (jaesik.park@postech.ac.kr),
# licensed under the MIT license, cf. 3rd-party-licenses.txt file in the root directory of this
# source tree.

numpy
# pytorch  # for anaconda, please refer to pytorch.org for installation
scipy
matplotlib
open3d==0.13.0
# to visualize it, you need tensorflow, but it doesn't have to be in the same virual environment :)
tensorboardX
# MinkowskiEngine
# Or follow the installation instruction on github.com/StanfordVL/MinkowskiEngine
future-fstrings
easydict
joblib
scikit-learn
